
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-container
{
   height: 100vh;
   width: 100vw;
   padding: 1%;
   background-image: url(pexels-bruno-cantuária-774455.jpg);
    background-size: cover;
}

h2 {
    font-family: 'Alegreya';
    font-size: 2.3rem;
    color: white; 

}

#wine-info
{
    color:white; 
    display: flex; 
    flex-direction: column;
    width: 40%;
    margin-top: 3%;
    border: 2px solid white; 
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.449);
}


h3 
{
    font-family: 'Alegreya';
    color: white;
}

label, a
{
    color: white; 
}


.search-container
{
    border-top: 2px solid white;
    margin-top: 3%;
}